<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="ScavengerHuntContext" 
         connectionString="Server=scavengerhunt-db;Database=ScavengerHunt;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/Error" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error"/>
      <error statusCode="500" redirect="~/Error"/>
    </customErrors>
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" xdt:Transform="Insert"/>
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert"/>
        <add name="X-XSS-Protection" value="1; mode=block" xdt:Transform="Insert"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration> 